{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Newsletter subscribe" %}{% endblock head_title %}

{% block contents %}
    <h1 class="text-center">{% trans "Newsletter subscribe" %} {{ newsletter.title }}</h1>

    <p class="text-center text-dark">{% trans "Your subscription request was successfully received and an activation email has been sent to you. In that email you will find a link which you need to follow in order to activate your subscription." %}</p>
{% endblock contents %}
