{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block contents %}
<div class="wrapper row  p-b-5 m-3 justify-content-center">
  <div class="col-lg-6">
	{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger alert-mg-b">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{error|escape}}</strong>.
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
  {% endblock %}
    
    <h3 class="h3 text-black text-center" id="head_banner">{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{form.oldpassword.id_for_label}}">{% trans "Current Password" %}</label>
          <input type="password" class="form-control" name="{{form.oldpassword.name}}" id="{{form.oldpassword.id_for_label}}" placeholder="{% trans "Current Password" %}">
        </div>
        <div class="form-group">
          <label for="{{form.password1.id_for_label}}">{% trans "New Password" %}</label>
          <input type="password" class="form-control" name="{{form.password1.name}}" id="{{form.password1.id_for_label}}" placeholder="{% trans "New Password" %}">
        </div>
        <div class="form-group">
          <label for="{{form.password2.id_for_label}}">{% trans "New Password (again)" %}</label>
          <input type="password" class="form-control" name="{{form.password2.name}}" id="{{form.password2.id_for_label}}" placeholder="{% trans "New Password(again)" %}">
        </div>

        <button class="btn btn-outline-info" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
 </div>
{% endblock %}
