{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="wrapper  p-b-5 m-3">
    <h1 class="text-center text-black m-b-20">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="m-t-20">
                {% csrf_token %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                <div class="form-group">
                  <label for="{{form.password1.id_for_label}}">New Password:</label>
                  <input type="password" class="form-control" name="{{form.password1.name}}" id="{{form.password1.id_for_label}}" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="{{form.password2.id_for_label}}">New Password Konfirmation:</label>
                  <input type="password" class="form-control" name="{{form.password2.name}}" id="{{form.password2.id_for_label}}" placeholder="Password">
                </div>
                <input class="btn btn-outline-primary btn-lg center" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
